*, body{
    font-family: 'Montserrat', sans-serif;
}
body{
    margin: 0px !important;
    width: 100%;
}
table.table_inner {
    border: 1px solid #ccc;
    padding: 1rem;
    text-align: center;
}
table.table_inner {
    height: 50vh;
}
thead {
    background: #ccc;
}
thead tr th {
      padding: 10px;
    color: #5d5d5d;
    font-size: .7rem;
    width: auto;
    font-weight: 700;
}
tbody {
    font-size: .7rem;
}
tbody tr:nth-child(odd) {
    background: #f1f1f1;
}


.header {
    background: #ccc;
    display: flex;
    justify-content: flex-end;
}

.header p {
    margin: 20px;
    font-weight: 600;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #000;
    
}
p.pageTitle {
    font-size: 1.3rem;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 70px;
    text-align: center;
    color: #226498;
}

div#root {
    min-height: 100vh;
}

.mainLayout, .site-layout {
    min-height: inherit;
    display: flex;
    flex-direction: column;
}

.main {text-align: center;}

.signUp {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signUp form {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}



input[type="text"] {
    margin-bottom: 25px;
    border: 1px solid #000;
    height: 35px;
    border-radius: 12px;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 2px;
   
}
::-webkit-input-placeholder{
 color: #226498;
 font-weight: 300;
}
form button {
    width: 60%;
    margin: auto;
    padding: 5px;
    border-radius: 12px;
    background: #226498;
    border: 1px solid #226498;
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    height: 32px;
}
.message {
    color: #226498;
    text-align: center;
    margin-top: 30px;
    font-size: 11px;
    font-weight: 600;
}

.main_ {
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.table_main {
    overflow-x: scroll;
}
.request {
    font-size: 0.7rem;
    text-align: center;
    margin-top: 70px;
    font-weight: 600;
    color: #226498;
}

.errorMsg{
    color: red;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}
input[type="text"]:focus{
    outline: none;
}
form button:focus{
    outline: none;
}
p.successAccount {
    color: green;
    font-size: 0.8rem;
    font-weight: 600;
    text-align: center;
    margin-top: 50px;
}
p.guest {
    margin-bottom: 50px;
    font-size: 0.7rem;
    color: green;
    font-weight: 700;
    letter-spacing: 1px;
}
p.pageTitle.Dashboard {
    margin-bottom: 20px;
}
td img {
    max-width: 50px;
}

td span {
    font-weight: 600;
    line-height: 2;
}

tr.no_pad td {
        padding: 0px 3px;
    width: 100%;
}
table{
    width: 100%;
}

.innerTable tr:nth-child(odd){
    background-color: transparent !important;
}
.no_pad td tr{
  background-color: transparent !important;
}